<div class="items-parent-container">
    <app-loader *ngIf="fetching"></app-loader>
    <app-error [errorMsg]="errorMsg" *ngIf="showError"></app-error>
    <div class="container" *ngIf="!fetching && !showError">
        <div class="title fw-bold text-center fs-24">
            Inventory Stock
        </div>
        <div class=" p-3">
            <div class="items-container">
                <mat-accordion class="example-headers-align inventory-items-container" multi>
                    <mat-expansion-panel class="mb-3" *ngFor="let item of sizeChart | keyvalue">
                        <mat-expansion-panel-header class="mat-panel-header">
                            <mat-panel-title>
                                <div class="d-flex panel-header align-items-center">
                                    <div class="p-2 size-img">
                                        <img [src]="item.value.img" alt="">
                                    </div>

                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="fw-bold text-center"> {{item.value.name}}</div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>


                            <table border="1" style="width: 100%;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Grade Name</th>
                                        <th scope="col" class="text-center">Sub Grade Name</th>
                                        <th scope="col" class="text-center">Price</th>
                                        <th scope="col" class="text-center">Stock Count</th>
                                        <th scope="col" class="text-center">Items on Hold</th>
                                    </tr>
                                </thead>
                                <ng-container *ngFor="let row of parsedList">

                                    <ng-container *ngFor="let rrow of row.value">

                                        <ng-container *ngIf="row.key == item.value.code">

                                            <tbody>
                                                <tr *ngFor="let subrow of rrow.subValue; let i = index ;">
                                                    <td *ngIf="i == 0" class="grade-cell fw-bold" rowspan="2">
                                                        {{subrow.name}}
                                                    </td>
                                                    <td class="text-center">{{subrow.subGradeName}}</td>
                                                    <td class="text-center">{{subrow.price | currency: 'CAD'
                                                        :'symbol-narrow'}}</td>
                                                    <td class="text-center">{{subrow.stockCount}}</td>
                                                    <td class="text-center">{{subrow.holdCount}}</td>
                                                </tr>
                                            </tbody>



                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>

        </div>
    </div>
</div>