<div class="cart-list-container">
    <app-loader *ngIf="fetching"></app-loader>
    <div class="container">
        <div class="mb-4 title fw-bold fs-22 text-center">
            Customers Cart Items List
        </div>
        <div class="mt-4 table-container" *ngIf="!fetching">
            <mat-accordion class="example-headers-align orders-items-container" multi>
                <mat-expansion-panel *ngFor="let cart of cartList">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="color-caramel fs-22 fw-bold">User ID: &nbsp;</span>
                            <span class="fw-bold fs-18">{{cart.userId}}</span>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div>
                                <div class="fw-bold fs-22"> <span class="color-caramel">Created At:&nbsp;</span>
                                    <span>{{cart.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                                </div>
                                <!-- <div class="fw-bold fs-22"> <span class="color-caramel">Last Updated At:&nbsp;</span>
                                    <span>{{cart.updatedAt | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                                </div> -->
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="order-details-container">
                        <div class="mb-2 d-flex justify-content-between fs-18">
                            <div class="d-flex">
                                <div class="fw-bold color-raw-umber ">Name: &nbsp;</div>
                                <div>{{cart.userDetails.firstName}}&nbsp;{{cart.userDetails.lastName}}</div>
                            </div>

                        </div>
                        <div class="mb-2 d-flex fs-18">
                            <div class="fw-bold color-raw-umber ">Address: &nbsp;</div>
                            <div>{{cart.userDetails.addresses[0].unitNumber}},&nbsp;
                                {{cart.userDetails.addresses[0].buildingNumber}},&nbsp;
                                {{cart.userDetails.addresses[0].streetName}},&nbsp;
                                {{cart.userDetails.addresses[0].city}},&nbsp;
                                {{cart.userDetails.addresses[0].province}},&nbsp;
                                {{cart.userDetails.addresses[0].country}},&nbsp;
                                {{cart.userDetails.addresses[0].postalCode}}&nbsp;
                            </div>
                        </div>
                        <div class="table-container mt-4 mb-4">
                            <table mat-table [dataSource]="cart.cartItems" class="width100percent mat-elevation-z8">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                <!-- Position Column -->
                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef> S.No. </th>
                                    <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
                                </ng-container>
                                <!-- Name Column -->
                                <ng-container matColumnDef="productName">
                                    <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="subGradeName">
                                    <th mat-header-cell *matHeaderCellDef> SubGrade Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGrade.name}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="size">
                                    <th mat-header-cell *matHeaderCellDef> Size </th>
                                    <td mat-cell *matCellDef="let element"> {{element.size.name}}{{element.mobile}}
                                    </td>
                                </ng-container>
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                </ng-container>
                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef> Price </th>
                                    <td mat-cell *matCellDef="let element"> {{element.price | currency: 'CAD'
                                        :'symbol-narrow'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="totalPrice">
                                    <th mat-header-cell *matHeaderCellDef> Total Price </th>
                                    <td mat-cell *matCellDef="let element"> {{element.quantity * element.price |
                                        currency: 'CAD' :'symbol-narrow'}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <!-- <div *ngIf="isManager" class="payment-update-container d-flex justify-content-end">
                            <button (click)="updateOrderStatus(order)"
                                class="p-2 px-3 bg-raw-umber color-white fw-bold fs-18" mat-raised-button
                                mat-suffix>Update Order Status</button>
                        </div> -->
                    </div>

                </mat-expansion-panel>

            </mat-accordion>

            <div *ngIf="cartList.length == 0">
                <p class="text-center fw-bold mt-5 pt-5 fs-22">All the users carts are empty!</p>


            </div>
        </div>
    </div>
</div>
<ng-template #customerDetailsTemplate>
    <div class="container customer-details-address">
        <div class="title text-center fw-bold fs-22 mb-4">Customer Details</div>
        <!-- <div class="mt-4 status d-flex flex-wrap row row-cols-2 justify-content-between align-items-center">
            <div *ngIf="selectedUser.addresses[0].unitNumber" class="form-field-container col">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Unit Number</mat-label>
                    <input readonly [value]="selectedUser.addresses[0].unitNumber" matInput placeholder="Placeholder" />
                </mat-form-field>
            </div>
            <div *ngIf="selectedUser.addresses[0].buildingNumber" class="form-field-container col">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Building Number</mat-label>
                    <input readonly [value]="selectedUser.addresses[0].buildingNumber" matInput
                        placeholder="Placeholder" />
                </mat-form-field>
            </div>
            <div class="form-field-container col">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Street Name</mat-label>
                    <input readonly [value]="selectedUser.addresses[0].streetName" matInput placeholder="Placeholder" />
                </mat-form-field>
            </div>
            <div class="form-field-container col">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>City</mat-label>
                    <input readonly [value]="selectedUser.addresses[0].city" matInput placeholder="Placeholder" />
                </mat-form-field>
            </div>
            <div class="form-field-container col">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Province</mat-label>
                    <input readonly [value]="selectedUser.addresses[0].province" matInput placeholder="Placeholder" />
                </mat-form-field>
            </div>
            <div class="form-field-container col">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Country</mat-label>
                    <input readonly [value]="selectedUser.addresses[0].country" matInput placeholder="Placeholder" />
                </mat-form-field>
            </div>
            <div class="form-field-container col">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Postal Code</mat-label>
                    <input readonly [value]="selectedUser.addresses[0].postalCode" matInput placeholder="Placeholder" />
                </mat-form-field>
            </div>
        </div>
        <div class="button-container d-flex justify-content-center align-items-center">

            <button (click)="close()" class="p-2 px-3 bg-raw-umber color-white fw-bold fs-18" mat-raised-button
                mat-suffix>Close</button>
        </div> -->
    </div>
</ng-template>