<div class="footer-container bg-rose-taupe p-5">
    <div class="footer-sub-container">
        <div class="container d-flex justify-content-space-between align-items-center">
            <div class="col-8 d-flex align-items-center">
                <div class="col-4">
                    <div class="color-white mb-3 fw-bold fs-18">Help & Support</div>
                    <div class="mb-1 color-white">Contact Us</div>
                    <div class="mb-1 color-white">FAQs</div>
                </div>
                <div class="col-4">
                    <div class="color-white mb-3 fw-bold fs-18">About this website</div>
                    <div class="mb-1 color-white">Copyright</div>
                    <div class="mb-1 color-white">Privacy Policy</div>
                </div>
            </div>
            <div class="logo-container col-4 d-flex justify-content-end">
                <div><img src=" ./assets/images/logo.png" alt=""></div>
            </div>
        </div>
    </div>
</div>